/* header */
.title {
  display: inline-block;
  width: 28%;
  margin-left: 2%;
  margin-top: 20px;
  margin-bottom: 0;
  color: #1f577c;
  text-decoration: underline;
}

.container-links {
  display: inline-block;
  width: 53%;
  margin-left: 15%;
  margin-right: 2%;
  text-align: right;
}

.link-all {
  display: inline-block;
  margin-left: 10px;
  padding-right: 10px;
  border-right-style: solid;
  border-width: 2px;
  font-size: 16pt;
  font-weight: bold;
  color: #1f577c;
  text-decoration: none;
}

.link-student {
  display: inline-block;
  margin-left: 10px;
  margin-top: 20px;
  font-size: 14pt;
  color: #1f577c;
  text-decoration: none;
}

/* options under chart */

.container-filter-student {
  display: inline-block;
  width: 53%;
  margin-right: 15%;
  margin-left: 2%;
  vertical-align: top;
}

.container-checkbox {
  display: inline-block;
  margin-top: 10px;
  margin-right: 20px;
}

.checkbox-student {
  accent-color: #1f577c;
  margin-right: 10px;
}

.student-profile {
  display: inline-block;
  margin: 0;
  font-size: 16pt;
  color: #1f577c;
  margin-top: 5px;
}

.student-profile-border {
  display: inline-block;
  margin: 0;
  font-size: 16pt;
  color: #1f577c;
  padding-left: 10px;
  padding-right: 10px;
  border-left-style: solid;
  border-right-style: solid;
  margin-left: 10px;
  margin-right: 10px;
  border-width: 2px;
  margin-top: 5px;
}

.container-options {
  display: inline-block;
  width: 28%;
  margin-right: 2%;
  text-align: right;
  vertical-align: top;
}

.checkbox-difficulty {
  accent-color: #dce775;
  margin-left: 20px;
  margin-right: 10px;
}

.checkbox-fun {
  accent-color: #006064;
  margin-left: 20px;
  margin-right: 10px;
}

.sorter {
  border-color: transparent;
  border-radius: 5px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

input,
label,
select {
  cursor: pointer;
}
